.listWrap {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.list {
  display: flex;
  gap: 15px;
  margin-left: 0%;
  margin-right: 20%;
}

.list.reverse {
  margin-right: 0%;
  margin-left: 20%;
}

.allBtn {
  display: block;
  font-size: 14px;
  margin: 80px auto 0;
}
