@import "reset-css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.en {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5px;
}

.point-color {
  color: #ffc107;
  font-weight: bold;
}

body {
  background-color: #0d1117;
  color: #fff;
  font-family: "Pretendard", sans-serif;
}

section {
  position: relative;
  padding: 120px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 600;
}

.sub-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}
